@media screen and (width > 1600px) {
  #specialists {
    .specialistscontent {
      .specialistscontainer {
        .cardcontainer {
          .specialistscards {
            .cards {
              width: 17rem;
              .cardinfocontainer {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  header {

    .bgmenuimg {
      height: 25rem;
    }

    .menucontainer {
      display: flex;
      justify-content: center;

      .menu {
        .menutxtbox {
          .menulist {
            display: none;
          }
        }
      }
    }
  }

  .home {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    height: 20rem;

    .hometextcontainer {
      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
        margin-top: 1rem;
      }
    }
  }

  .homecards {
    display: none;
  }

  #aboutus {
    display: flex;
    padding: 1rem 5%;

    .aboutuscontainer {
      flex-direction: column;

      .aboutustexts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;

        h2 {
          text-align: center;
          font-size: 1.3rem;
        }

        .line {
          align-self: center;
          width: 80px;
        }

        p {
          margin: 1rem 0 0 0;
          font-size: 0.9rem;
        }
      }

      .aboutusimg {
        img{
          display: none;
        }
      }
    }
  }

  #specialists {
    .specialistscontent {
      .specialistscontainer {
        padding: 1rem 5%;

        .textcontainer {
          flex-wrap: wrap;
          justify-content: center;

          .titlecontainer {
            flex-direction: column;

            h2 {
              font-size: 1.3rem;
            }

            .line {
              width: 80px;
              height: 2px;
              margin: 5px 0 0 0;
            }
          }

          p {
            padding: 1rem 0 1.5rem 0;
            font-size: 0.9rem;
          }
        }

        .cardcontainer {
          .specialistscards {
            .cards {
              width: 25%;

              .cardinfocontainer {
                font-size: 0.7em;
              }
            }
          }
        }
      }

    }
  }

  #certified {
    flex-direction: column;
    padding: 1.5rem 5%;
    margin-top: 0;
    gap: 0;

    .certifiedtexts {
      h2 {
        text-align: center;
        font-size: 1.3rem;
      }

      .line {
        align-self: center;
        width: 80px;
      }

      p {
        margin: 1rem 0 1.5rem 0;
        font-size: 0.9rem;
      }
    }

    .certifiedcontainer {
      justify-content: center;
      flex-wrap: wrap;

      .certifications {

        img {
          height: 10vh;
        }

        p {
          font-size: 0.7rem;
        }
      }
    }
  }

  #contact {
    padding: 1.5rem 5% 2rem 5%;
    grid-template-columns: none;

    .contacttxt {
      display: flex;
      flex-direction: column;
      padding: 0;

      h2 {
        text-align: center;
        font-size: 1.3rem;
      }

      .line {
        align-self: center;
        width: 80px;
      }

      .contactpara {
        font-size: 0.9rem;
      }

      .contactpara p:nth-child(2n) {
        display: none;
      }

      .contactsocialscontainer {
        font-size: 0.9rem;
      }
    }

    .formcontainer {
      display: none;
    }
  }

  footer {
    padding: 1rem 5% 2rem 5%;
    background-position: center;

    .clients {
      .clientsbox {
        img {
          height: 2rem;
        }

        .airbnb {
          display: none;
        }

        .adidas {
          display: none;
        }
      }
    }

    .footinfos {
      .addresscontainer {
        flex-wrap: wrap;
        justify-content: start;
        gap: 0.8rem;

        .address {
          width: 8.3rem;

          h4 {
            font-size: 0.7rem;
          }

          p {
            font-size: 0.7rem;
          }
        }
      }

      .footnotes {
        flex-direction: column-reverse;
        gap: 1rem;
        font-size: 0.7rem;

        .rightreserved {
          p:nth-child(1) {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #specialists {
    .specialistscontent {
      .specialistscontainer {
        .cardcontainer {
          @keyframes scrollInfinito {
            to {
              translate: calc(-50% - 5px);
            }
          }

          .specialistscards {
            gap: 2rem;
            overflow-x: scroll;
            scroll-snap-align: start;

            @media screen and (max-width: 712px) {
              justify-content: start;
              padding-left: 0.3rem;
            }

            .cards {
              padding: 0 0 0.6rem 0;
              width: 12rem;

              .cardinfocontainer {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    .bgmenuimg {
      height: 22rem;
    }

    .menucontainer {
      .menu {
        .logobox {
          .logoimg {
            width: 3rem;
          }

          p {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  #aboutus {
    padding: 2rem 5%;
    .aboutuscontainer {
      .aboutustexts {

        p {
          font-size: 0.8rem;
        }

        .secondpara {
          display: none;
        }

        .readmore {
          display: none;
          margin: 1rem 0 0 0;

          p {
            margin: 0;
            color: #1a3a61;
            text-decoration: underline;
          }
        }
      }

      .aboutusimg {
        margin-top: 1rem;
        img{
          display: flex;
          width: 15rem;
        }
      }
    }
  }

  #contact {

    .socialbox {
      max-height: 2rem;
      max-width: 3rem;

      img {
        width: 1.1rem;
      }
    }
  }

  #specialists{
    .specialistscontent{
      .specialistscontainer{
        padding: 2rem 5%;
      }

    }
  }

  #certified {
    padding: 2rem 5%;
  }

  #contact {
    padding: 2rem 5% 2.5rem 5%;
  }
}

@media screen and (max-width: 440px) {

  .home {
    height: 14rem;
    .hometextcontainer {
      padding: 1rem 3%;

      h1 {
        font-size: 1rem;
      }

      p {
        font-size: 0.7rem;
      }
      
    }
  }

  #aboutus {
    position: relative;
    background-color: white;
    .aboutuscontainer {
      .aboutustexts {

        h2 {
          font-size: 1rem;
        }

        p {
          font-size: 0.7rem;
        }
      }
    }
  }

  #specialists {
    .specialistscontent {
      .specialistscontainer {
        .textcontainer {
          .titlecontainer {
            h2 {
              font-size: 1rem;
            }
          }

          p {
            font-size: 0.7rem;
          }
        }

        .cardcontainer {
          .specialistscards {
            .cards {
              width: 10rem;

              .cardinfocontainer {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }
  }

  #certified {
    .certifiedtexts {
      h2 {
        font-size: 1rem;
      }

      p {
        font-size: 0.7rem;
      }
    }

    .certifiedcontainer {
      .certifications {
        p {
          font-size: 0.5rem;
          width: 7rem;
        }
      }
    }
  }

  #contact {
    .contacttxt {
      h2 {
        font-size: 1rem;
      }

      .contactpara {
        font-size: 0.7rem;
      }

      .contactsocialscontainer {
        font-size: 0.7rem;
      }
    }
  }

  footer {
    .clients {
      .clientsbox {
        img {
          height: 1.7rem;
        }
      }
    }

    .footinfos {
      .addresscontainer {
        .address {
          width: 8rem;
        }
      }
    }
  }


}