@import url("https://p.typekit.net/p.css?s=1&k=oov2wcw&ht=tk&f=39203&a=85994746&app=typekit&e=css");
@font-face {
  font-family: "century-gothic";
  src: url("https://use.typekit.net/af/afc5c6/00000000000000003b9b1f23/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/afc5c6/00000000000000003b9b1f23/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/afc5c6/00000000000000003b9b1f23/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
html {
  scroll-behavior: smooth;
}

.hidden {
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: century-gothic;
  letter-spacing: 0.3px;
}

header {
  display: flex;
  justify-content: center;
}
header .bgmenuimg {
  position: absolute;
  width: 100%;
  height: 100%;
}
header .menucontainer {
  width: 100%;
}
header .menucontainer .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
}
header .menucontainer .menu .logobox {
  display: flex;
  align-items: center;
}
header .menucontainer .menu .logobox .logoimg {
  width: 5rem;
}
header .menucontainer .menu .logobox p {
  font-size: 1rem;
  color: #dac0a3;
  padding-left: 1rem;
  border-left: solid 1px #dac0a3;
  text-align: center;
}
header .menucontainer .menu .menutxtbox .menulist {
  display: flex;
  list-style: none;
  gap: 4rem;
}
header .menucontainer .menu .menutxtbox .menulist li a {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
}
header .menucontainer .menu .menutxtbox .menulist li a:hover {
  color: rgba(255, 255, 255, 0.7803921569);
}

#home {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  height: 400px;
}
#home .hometextcontainer {
  position: relative;
  text-align: center;
  color: #fff;
}
#home .hometextcontainer h1 {
  font-size: 3rem;
  font-weight: 400;
}
#home .hometextcontainer p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 1rem;
}

.homecards {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
}
.homecards .homecardcontainer {
  background-color: #fff;
  color: #010209;
  padding: 1.5rem 2rem;
  max-width: 300px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}
.homecards .homecardcontainer .cardheader {
  display: flex;
  gap: 1rem;
}
.homecards .homecardcontainer .cardheader img {
  height: 60px;
}
.homecards .homecardcontainer .cardheader .cardheadertxt h3 {
  margin: 0.1rem 0;
  font-weight: 400;
}
.homecards .homecardcontainer .cardheader .cardheadertxt p {
  font-size: 0.8rem;
  line-height: 1.3;
}
.homecards .homecardcontainer .cardpara {
  padding: 0 2rem 0 0;
  margin-top: 1rem;
  line-height: 1.3;
}
.homecards .homecardcontainer .cardfooter {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.homecards .homecardcontainer .cardfooter .line {
  margin: 0 1rem 0 0;
  width: 50px;
  height: 2.5px;
  background-color: #dac0a3;
}
.homecards .homecardcontainer .cardfooter a {
  text-decoration: none;
  color: #010209;
}

#aboutus {
  display: flex;
  padding: 4rem 10%;
}
#aboutus .aboutuscontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#aboutus .aboutuscontainer .aboutustexts {
  max-width: 45%;
}
#aboutus .aboutuscontainer .aboutustexts h2 {
  font-weight: 400;
}
#aboutus .aboutuscontainer .aboutustexts .line {
  margin: 5px 0 0 0;
  width: 65px;
  height: 2px;
  background-color: #dac0a3;
}
#aboutus .aboutuscontainer .aboutustexts p {
  margin: 2rem 0;
  line-height: 1.3;
  font-weight: 300;
}
#aboutus .aboutuscontainer .aboutusimg img {
  width: 500px;
}

@media screen and (min-width: 1600px) {
  #aboutus {
    padding: 4rem 20%;
  }
}
#specialists .specialistscontent {
  background-color: #f9f9f9;
}
#specialists .specialistscontent .specialistscontainer {
  padding: 3rem 10%;
}
#specialists .specialistscontent .specialistscontainer .textcontainer {
  display: flex;
  align-items: center;
}
#specialists .specialistscontent .specialistscontainer .textcontainer .titlecontainer {
  display: flex;
  align-items: center;
}
#specialists .specialistscontent .specialistscontainer .textcontainer .titlecontainer h2 {
  font-weight: 400;
}
#specialists .specialistscontent .specialistscontainer .textcontainer .titlecontainer .line {
  margin: 0px 20px;
  width: 3px;
  height: 50px;
  background-color: #dac0a3;
}
#specialists .specialistscontent .specialistscontainer .cardcontainer .specialistscards {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
#specialists .specialistscontent .specialistscontainer .cardcontainer .specialistscards .cards {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  width: 30vh;
  filter: drop-shadow(-1px 3px 3px rgba(50, 50, 0, 0.5));
}
#specialists .specialistscontent .specialistscontainer .cardcontainer .specialistscards .cards .cardswrap {
  clip-path: polygon(11% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
}
#specialists .specialistscontent .specialistscontainer .cardcontainer .specialistscards .cards .cardinfocontainer {
  padding: 1rem 0;
  text-align: center;
  background-color: #1a3a61;
  color: #f9f9f9;
}
#specialists .specialistscontent .specialistscontainer .cardcontainer .specialistscards .cards .cardinfocontainer p {
  font-size: 0.8rem;
}
@media screen and (min-width: 1600px) {
  #specialists .specialistscontent .specialistscontainer {
    padding: 4rem 20%;
  }
}

#certified {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 0.3rem;
  padding: 4rem 10%;
}
#certified .certifiedtexts {
  display: flex;
  flex-direction: column;
}
#certified .certifiedtexts h2 {
  font-weight: 400;
}
#certified .certifiedtexts .line {
  margin: 5px 0 0 0;
  width: 65px;
  height: 2px;
  background-color: #dac0a3;
}
#certified .certifiedtexts p {
  margin: 2rem 0;
  line-height: 1.3;
  font-weight: 300;
}
#certified .certifiedcontainer {
  display: flex;
  gap: 3rem;
}
#certified .certifiedcontainer .certifications {
  text-align: center;
}
#certified .certifiedcontainer .certifications img {
  height: 20vh;
}
#certified .certifiedcontainer .certifications p {
  width: 150px;
  margin-top: 1rem;
  font-size: 14px;
}

@media screen and (min-width: 1600px) {
  #certified {
    padding: 4rem 20%;
  }
}
#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f9f9f9;
  padding: 1.5rem 10% 4rem 10%;
  align-items: center;
}
#contact .contacttxt {
  padding: 0 2rem 0 0;
}
#contact .contacttxt h2 {
  font-weight: 400;
}
#contact .contacttxt .line {
  margin: 5px 0 0 0;
  width: 65px;
  height: 2px;
  background-color: #dac0a3;
}
#contact .contacttxt .contactpara {
  margin: 2rem 0 2rem 0;
  font-weight: 400;
}
#contact .contacttxt .contactsocialscontainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#contact .contacttxt .contactsocialscontainer .contactsocials {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#contact .contacttxt .contactsocialscontainer .contactsocials .socialbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 4rem;
  border: solid 1px #f5d8b7;
}
#contact .contacttxt .contactsocialscontainer .contactsocials .socialbox .socialphone {
  height: 25px;
}
#contact .formcontainer {
  z-index: 1;
}
#contact .formcontainer .formflag {
  position: relative;
  top: 45px;
  left: 3.5%;
  height: 100px;
}
#contact .formcontainer .formbox {
  position: relative;
  display: grid;
  grid-template-columns: 15% 85%;
  background-color: #ffffff;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.151);
}
#contact .formcontainer .formbox .formlogo {
  position: relative;
  margin: 30% 0 0 28%;
  height: 35px;
}
#contact .formcontainer .formbox form {
  color: #1a3a61;
}
#contact .formcontainer .formbox form .formtitle {
  margin-top: 1.5rem;
  text-align: center;
}
#contact .formcontainer .formbox form .formtitle h3 {
  font-weight: 800;
}
#contact .formcontainer .formbox form .forminputs {
  display: grid;
  grid-template-areas: "nome nome" "telefone email" "assunto assunto" "txtarea txtarea" ". btn";
}
#contact .formcontainer .formbox form .forminputs .inptname {
  grid-area: nome;
}
#contact .formcontainer .formbox form .forminputs .inptphone {
  grid-area: telefone;
}
#contact .formcontainer .formbox form .forminputs .inptemail {
  grid-area: email;
}
#contact .formcontainer .formbox form .forminputs .inptassunto {
  grid-area: assunto;
}
#contact .formcontainer .formbox form .forminputs .forminput {
  display: flex;
  margin-top: 1rem;
}
#contact .formcontainer .formbox form .forminputs .forminput .lbl {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .formcontainer .formbox form .forminputs .forminput .lbl img {
  z-index: 1;
  position: absolute;
  height: 1rem;
  margin-left: 2.2rem;
}
#contact .formcontainer .formbox form .forminputs .forminput .inpt,
#contact .formcontainer .formbox form .forminputs .forminput .inptbig {
  position: relative;
  border: solid 2px #f5d8b7;
  font-family: century-gothic;
  font-size: 0.8rem;
  color: #1a3a61;
  letter-spacing: 0.5px;
  padding: 0.4rem 0.5rem 0.4rem 2rem;
  outline: none;
}
#contact .formcontainer .formbox form .forminputs .forminput .inpt::placeholder,
#contact .formcontainer .formbox form .forminputs .forminput .inptbig::placeholder {
  font-family: century-gothic;
  font-size: 0.8rem;
  color: #1a3a61;
}
#contact .formcontainer .formbox form .forminputs .forminput .inputassunto {
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
}
#contact .formcontainer .formbox form .forminputs .forminput .inptbig {
  width: 95%;
}
#contact .formcontainer .formbox form .forminputs .forminput .inpt {
  width: 90%;
}
#contact .formcontainer .formbox form .forminputs .txtarea {
  grid-area: txtarea;
  resize: none;
  outline: none;
  letter-spacing: 0.5px;
  margin-top: 1rem;
  padding: 0.5rem;
  border: solid 2px #f5d8b7;
  color: #1a3a61;
  font-family: century-gothic;
  width: 95%;
}
#contact .formcontainer .formbox form .forminputs .txtarea::placeholder {
  font-family: century-gothic;
  font-size: 0.8rem;
  color: #1a3a61;
}
#contact .formcontainer .formbox form .forminputs::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -6px;
  right: -6px;
  background-color: #f4d1a2;
}
#contact .formcontainer .formbox form .forminputs .inputsubmit {
  grid-area: btn;
}
#contact .formcontainer .formbox form .forminputs .inputsubmit .btnsubmit {
  padding: 1rem 0;
  width: 90%;
  margin: 1rem 0 1.5rem 0;
  background-color: #1a3a61;
  font-family: century-gothic;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}
#contact .formcontainer .formbox form .forminputs .inputsubmit .btnsubmit:hover {
  background-color: #132944;
}

@media screen and (min-width: 1600px) {
  #contact {
    padding: 1.5rem 20% 4rem 20%;
  }
}
.gotop {
  position: fixed;
  top: 85vh;
  right: 30px;
}
.gotop .gotopbox {
  display: grid;
  place-items: center;
  background-color: white;
  width: 50px;
  height: 50px;
}
.gotop .gotopbox img {
  height: 25px;
}

footer {
  padding: 2rem 10%;
  background-image: url(assets/WebImages/footerbg.png);
  color: #fff;
}
footer .clients {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .clients h4 {
  text-align: center;
  font-weight: 300;
}
footer .clients .clientsbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-top: 2rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
  padding: 0 0 2rem 0;
}
footer .clients .clientsbox img {
  height: 3rem;
  opacity: 0.9;
}
footer .clients .clientsbox .airbnb {
  height: 2rem;
}
footer .clients .clientsbox .adidas {
  height: 4rem;
}
footer .footinfos {
  display: flex;
  flex-direction: column;
  padding: 0 2.5%;
}
footer .footinfos .addresscontainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
footer .footinfos .addresscontainer .address h4 {
  font-size: 0.8rem;
  font-weight: 300;
}
footer .footinfos .addresscontainer .address p {
  font-size: 0.8rem;
  font-weight: 300;
}
footer .footinfos .footnotes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 0 0;
  font-size: 0.8rem;
  font-weight: 300;
}
footer .footinfos .footnotes .rightreserved a {
  text-decoration: none;
  color: #dac0a3;
}
footer .footinfos .footnotes .rightreserved a:hover {
  color: #bca48b;
}
footer .footinfos .footnotes .terms {
  display: flex;
  gap: 1rem;
}
footer .footinfos .footnotes .terms a {
  color: #dac0a3;
}
footer .footinfos .footnotes .terms a:hover {
  color: #bca48b;
}

@media screen and (min-width: 1600px) {
  footer {
    padding: 4rem 20%;
  }
}


/*# sourceMappingURL=styles.css.map */
